* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* border: 1px solid; */
}
:root {
  --yellow: linear-gradient(to top left, #ffb003, #ffcb03);
  --green: linear-gradient(to top left, #39b385, #9be15d);
  --red: linear-gradient(to top left, #e52a5a, #ff585f);
}

body {
  background-color: #f3f3f3;
  padding: 20px;
  height: 100vh;
}
/* <!-- HEADER START --> */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 2rem; */
  /* height: 100%; */
}
header .welcome {
  font-size: 19px;
}
header img {
  height: 3.3rem;
  /* border: 1px solid; */
}

header .login input {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  width: 8rem;
  height: 2.5rem;
  font-family: inherit;
  text-align: center;
  margin-right: 1rem;
  border: 1px solid#fff;
  transition: all 0.3s;
  border-radius: 10rem;
}
header .login input::placeholder {
  color: rgba(128, 128, 128, 0.459);
}

header .login .login_btn {
  border: 1px red;
  font-size: 1.2rem;
}
header .login .login_btn i {
  width: 3rem;
}

.hide {
  opacity: 0;
}

/* <!-- HEADER END --> */

/* <!-- MAIN APP START --> */
.app {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-template-rows: auto repeat(3, 10rem) auto;
  gap: 1rem;
  max-width: 100rem;
  margin: 40px 209px;
  /* opacity: 100; */
  transition: all 0.9s;
}

.app .balance {
  grid-column: 1 / span 2;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  /* align-items: center; */
}
.app .balance .balance_label {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0px;
}
.balance_date {
  font-size: 14px;
}
.app .balance .balance_value {
  font-size: 45px;
}

/*MOVEMENTS START  */
.movements {
  grid-row: 2 / span 3;
  /* border: 1px solid; */
  border-radius: 10px;
  overflow: scroll;
  background-color: #ffff;
}

.movements_row {
  display: flex;
  align-items: center;
  padding: 22.5px 40px;
  border-bottom: 1px solid #eee;
}
.movements-type--withdrawl {
  background-image: var(--red);
}
.movements-type--deposit {
  background-image: var(--green);
}
.movements-type {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
  padding: 0.1rem 1rem;
  border-radius: 10rem;
  margin-right: 2rem;
}
.movements_date {
  font-size: 11px;
  border: 10px solid;
  text-transform: uppercase;
  font-weight: 500;
}
/* .movements_value {
  font-size: 0.8rem;
  float: right;
  border: 10px solid;
} */
.movements__value {
  font-size: 0.8rem;
  margin-left: auto;
}
/* MOVEMENTS END */

/* FORM START */
.form {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr 1fr;
  grid-template-rows: auto auto;
  gap: 0.2rem 0.5rem;
}
.form__input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: inherit;
  font-size: 17px;
  text-align: center;
  color: #333;
  padding: 0.3rem 1rem;
  border-radius: 0.7rem;
  transition: all 0.3s;
}
.form__btn {
  border: none;
  border-radius: 0.7rem;
  font-size: 1rem;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s;
}
/* FORM END */

/* OPERATION START */
.operation h3 {
  font-size: 17px;
}
.operation_transfer {
  background-image: var(--yellow);
}

.operation_loan {
  background-image: var(--green);
}
.operation_close {
  background-image: var(--red);
}
.operation {
  padding: 30px 40px;
  color: #333;
  border-radius: 10px;
}

/* OPERATION END */
.summary {
  grid-row: 5/6;
  display: flex;
  align-items: baseline;
  padding: 0 0.3rem;
  margin-top: 1rem;
}

.summary__label {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  margin-right: 8px;
  margin-bottom: 0px;
}

.summary__value--in {
  color: #66c873;
}
.summary__value--out {
  color: #f5465d;
}
.summary__value--interest {
  color: #66c873;
}
.summary__value {
  font-size: 22px;
  margin-right: 25px;
}
.btn--sort {
  margin-left: auto;
  border: none;
  background: none;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.logout-timer {
  padding: 0 3px;
  margin-top: 19px;
  text-align: right;
  font-size: 12px;
}

/* <!-- MAIN APP END --> */
